<app-collapsible-block [titleKey]="translationPrefix + 'CONDITION.TITLE'" [isExpanded]="isExpanded">

  <app-check-field
    [labelKey]="translationPrefix + 'CONDITION.NO_ORGAN_PATHOLOGY'"
    [(checked)]="model.noOrganPathology">
  </app-check-field>

  <!-- Группа селектов: в линию на широком экране, в колонку на узком -->
  <div class="selects-row">
    <app-dropdown-field
      [labelKey]="translationPrefix + 'CONDITION.GENERAL_STATUS'"
      [optionKeys]="generalStatusOptions"
      [(value)]="model.generalStatus">
    </app-dropdown-field>

    <app-dropdown-field
      [labelKey]="translationPrefix + 'CONDITION.PATIENT_POSITION'"
      [optionKeys]="positionOptions"
      [(value)]="model.patientPosition">
    </app-dropdown-field>

    <app-dropdown-field
      [labelKey]="translationPrefix + 'CONDITION.BODY_TYPE'"
      [optionKeys]="bodyTypeOptions"
      [(value)]="model.bodyType">
    </app-dropdown-field>
  </div>

</app-collapsible-block>
